<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Codepage="1252" Language="1033" Manufacturer="Bolding &amp; Burchard" Name="PyNcView" UpgradeCode="{3C4E8E60-75E5-462d-BC88-8655C7A637EC}" Version="$(var.Version)">
        <Package Compressed="yes" InstallerVersion="300" Languages="1033" Manufacturer="Jorn Bruggeman" Platform="x86" />
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
        <!--
        <Property Id="ApplicationFolderName" Value="PyNcView" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        -->
        <Directory Id="TARGETDIR" Name="SourceDir">
          <Directory Id="ProgramFilesFolder">
            <Directory Id="APPLICATIONFOLDER" Name="PyNcView"/>
          </Directory>
          <Directory Id="ProgramMenuFolder"/>
				</Directory>
        <Feature Id="MainApplication" Title="PyNcView" Level="1">
					<ComponentGroupRef Id="PyNcViewComponents"/>
        </Feature>
        <FeatureRef Id="VCRedist"/>
        <Icon Id="pyncview.ico" SourceFile="..\pyncview.ico" />
        <WixVariable Id="WixUILicenseRtf" Value="..\license.rtf" />
        <Media Id="1" Cabinet="data.cab" EmbedCab="yes" CompressionLevel="high" />
        <Property Id="ARPHELPLINK" Value="http://sourceforge.net/apps/mediawiki/pyncview/" />
        <Property Id="ARPURLINFOABOUT" Value="http://www.bolding-burchard.com" />
        <Property Id="ALLUSERS" Value="2" />
        <Property Id="ARPPRODUCTICON" Value="pyncview.ico" />
        <Property Id="OLDERVERSIONBEINGUPGRADED" Secure="yes" />
        <Property Id="NEWERVERSIONDETECTED" Secure="yes" />
        <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
          NOT NEWERVERSIONDETECTED OR Installed
        </Condition>
      <!--
        <Property Id="VSDUIANDADVERTISED" Value="This advertised application will not be installed because it might be unsafe. Contact your administrator to change the installation user interface option of the package to basic." />
        <Property Id="VSDVERSIONMSG" Value="Unable to install because a newer version of this product is already installed." />
        <Property Id="FolderForm_AllUsers" Value="ME" />
        <Property Id="FolderForm_AllUsersVisible" Value="1" />
        <Property Id="ErrorDialog" Value="ErrorDialog" />
        <Property Id="SFF_UpFldrBtn" Value="UpFldrBtn" />
        <Property Id="SFF_NewFldrBtn" Value="NewFldrBtn" />
        <Property Id="AdminMaintenanceForm_Action" Value="Repair" />
        <Property Id="MaintenanceForm_Action" Value="Repair" />
        <Property Id="DefaultUIFont" Value="VsdDefaultUIFont.524F4245_5254_5341_4C45_534153783400" />
        <Property Id="WelcomeForm_NextArgs" Value="FolderForm" />
        <Property Id="FolderForm_PrevArgs" Value="WelcomeForm" />
        <Property Id="FolderForm_NextArgs" Value="ConfirmInstallForm" />
        <Property Id="ConfirmInstallForm_PrevArgs" Value="FolderForm" />
        <Property Id="AdminWelcomeForm_NextArgs" Value="AdminFolderForm" />
        <Property Id="AdminFolderForm_PrevArgs" Value="AdminWelcomeForm" />
        <Property Id="AdminFolderForm_NextArgs" Value="AdminConfirmInstallForm" />
        <Property Id="AdminConfirmInstallForm_PrevArgs" Value="AdminFolderForm" />-->
        <Upgrade Id="{3C4E8E60-75E5-462d-BC88-8655C7A637EC}">
            <UpgradeVersion Maximum="$(var.Version)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="yes" />
            <UpgradeVersion Minimum="$(var.Version)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" OnlyDetect="yes" />
        </Upgrade>
      <InstallExecuteSequence>
        <RemoveExistingProducts After="InstallInitialize"/>
      </InstallExecuteSequence>
    </Product>
</Wix>